// ====================================================
// Main
// ====================================================

.site-logo {
	margin-bottom: 2em;
	@include img-replace("logo.png", 115px, 45px, inline-block);
}

.btn,.progress-bar,.tooltip {
	@include bg-colors($ui-colors);
}

.icn-toggle {
	@include pseudo-element(befor, 25px, 3px) {
		background: palette(grey, light);
		top: 4px;
	}
	width: 25px;
	height : 17px;
	position: absolute;
	border-top : solid 3px palette(grey);
	border-bottom: solid 3px palette(grey);
}