@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.srt, .form__label--hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.icn-toggle:before {
  display: block;
  content: '';
  position: absolute; }

.form__btn {
  padding: 15px 30px;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 100;
  display: block; }
  .form__btn:hover {
    opacity: .75; }
  .form__btn:active {
    opacity: initial; }

.nav__item, .nav__item--current {
  display: inline-block;
  margin: 0 0.75em; }

.nav__item a, .nav__item--current a {
  text-decoration: none;
  font-size: 1.125em;
  font-weight: 300;
  display: block;
  padding: 0.44444em;
  border-bottom: 1px solid transparent; }

.nav__item a:hover, .nav__item--current a {
  color: #0b0b0b;
  border-color: #52bab3; }

h1, .headline-primary--grouped, .headline-primary {
  font-weight: 400;
  font-size: 2.625em;
  line-height: 1.09524;
  margin-bottom: 1.66667em;
  color: #525559;
  margin-top: 0; }

h2, .headline-secondary--grouped, .headline-secondary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.875em;
  color: #999da1;
  letter-spacing: 1px; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 60em; }

header {
  text-align: center;
  padding: 3em 0; }

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; }

p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1.66667em; }

blockquote {
  font-size: 1.5em;
  font-style: italic;
  font-weight: font-weight--light;
  margin: 1.33333em 0;
  padding: 0 0 0 5%;
  border-left: solid 0.33333em #ebecec; }

input {
  border: none; }

textarea {
  border: none;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.site-logo {
  margin-bottom: 2em;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 115px;
  height: 45px;
  display: inline-block; }

.btn--default, .progress-bar--default, .tooltip--default {
  background-color: #52bab3; }
.btn--success, .progress-bar--success, .tooltip--success {
  background-color: #5ece7f; }
.btn--error, .progress-bar--error, .tooltip--error {
  background-color: #e67478; }
.btn--warning, .progress-bar--warning, .tooltip--warning {
  background-color: #ff784f; }
.btn--info, .progress-bar--info, .tooltip--info {
  background-color: #9279c3; }

.icn-toggle {
  width: 25px;
  height: 17px;
  position: absolute;
  border-top: solid 3px #797e83;
  border-bottom: solid 3px #797e83; }
  .icn-toggle:before {
    width: 25px;
    height: 3px;
    background: #999da1;
    top: 4px; }

.nav {
  margin-top: 1.25em;
  margin-bottom: 1.875em; }
  .nav__item a {
    color: #797e83; }

.headline-primary {
  margin-bottom: 1.66667em; }
  .headline-primary--grouped {
    margin-bottom: 0; }
.headline-secondary {
  margin-bottom: 0.91667em; }
  .headline-secondary--grouped {
    margin-top: 0.41667em;
    margin-bottom: 2.25em; }

.form__label {
  display: block;
  margin-bottom: 0.625em;
  color: #52bab3;
  font-weight: 900; }
.form__input {
  width: 100%;
  font-size: 1.125em;
  padding: 0.83333em;
  margin-bottom: 1.11111em;
  border-bottom: 6px solid #d6d7d9;
  border-radius: 0.4em;
  background: #ebecec;
  color: black;
  font-weight: 300; }
  .form__input:focus {
    border-color: #52bab3; }
.form__btn {
  background: #52bab3; }

/*# sourceMappingURL=application.css.map */
